<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TIWBNB</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResultsServlet</display-name>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>com.gr8.bnb.controllers.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsServlet</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseServlet</display-name>
    <servlet-name>HouseServlet</servlet-name>
    <servlet-class>com.gr8.bnb.controllers.HouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseServlet</servlet-name>
    <url-pattern>/house</url-pattern>
  </servlet-mapping>
</web-app>